html {
  background-color: rgba(216, 111, 13, 0.233);
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 30%;
}

.blue_text {
  color: rgb(11, 88, 99);
}

.ferst_table {
  border: 1px solid black;
}